<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content">
    <h1>Eliminar destino turistico </h1>
    <h3>Esta seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:text="${destinoTuristico.Id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${destinoTuristico.nombre}"></dd>

            <dt class="col-sm-2">Descripcion</dt>
            <dd class="col-sm-10" th:text="${destinoTuristico.descripcion}"></dd>

            <dt class="col-sm-2">Ubicacion</dt>
            <dd class="col-sm-10" th:text="${destinoTuristico.ubicacion}"></dd>

            <dt class="col-sm-2">Horario</dt>
            <dd class="col-sm-10" th:text="${destinoTuristico.horario}"></dd>
        </dl>

        <form th:action="@{/destinoTuristicos/delete}" method="post">
            <input type="hidden" name="Id" th:value="${destimoTuristico.Id}">
            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a th:href="@{/destinoTuristicos}">Regresar</a>
        </form>
    </div>
</div>