<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <style>
        .card {
            background-color: #f0e6d2 !important;
            border: none !important;
            border-radius: 8px !important;
        }
    </style>
</head>
<div layout:fragment="content">
    <h1 class="text-center" style="margin-bottom: 3rem;">Destinos Turísticos recientes.</h1>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="destino : ${destinoTuristicos}">
            <div class="card h-100 shadow-sm">
                <a th:href="@{'/destinoTuristicos/details/' + ${destino['destino'].id}}">
                    <img
                            th:if="${destino['imagenes'].size() > 0 and destino['imagenes'][0].base64Image != null}"
                            th:src="'data:image/png;base64,' + ${destino['imagenes'][0].base64Image}"
                            class="card-img-top"
                            alt="Imagen destino"
                            style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{'/destinoTuristicos/details/' + ${destino['destino'].id}}"
                           th:text="${destino['destino'].nombre}"
                           style="text-decoration: none; color: inherit;">
                        </a>
                    </h5>
                    <!-- Ubicación, Departamento y Categoría -->
                    <p class="card-text">
                        <strong>Ubicación:</strong> <span th:text="${destino['destino'].ubicacion}"></span><br>
                        <strong>Departamento:</strong> <span th:text="${destino['destino'].departamento.nombre}"></span><br>
                        <strong>Categoría:</strong> <span th:text="${destino['destino'].categoria.nombre}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link"
                   th:href="@{|/home?page=${pageNumber}${q != null ? '&q=' + q : ''}|}"
                   th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</html>
